.container {
    max-width: 40rem;
    margin: 0 auto;
    padding: 0 m-size;
    text-align: center;
}

.container__list {
    text-align: left;
}

.container__box {
    background-color: light;
    width: 300px;
    border: 1px solid blue;
    padding: 15px;
    margin: 15px auto;
}

.add-film-form input,
.add-film-form textarea {
    margin: 10px;
    width: 75%;
}

.header__nav {
    margin-bottom: l-size;
    display: flex;
    justify-content: space-between;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: m-size;
}

.activeNav {
    font-weight: bold;
}

.error {
    color: red;
}